<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>

<body>

<!--HEAD MENU-->
<div th:include="header.html"></div>

<div class="container m-0" style="float: left">

    <div class="row">

        <div class="col-2">
            <!--LEFT MENU-->
            <div th:include="leftadminmenu.html"></div>
        </div>

        <div class="col">
            <div class="row">
                <h2 style="margin-top: 10px">Admin panel</h2>
            </div>

            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/addNewUser">New User</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="card-footer">
                    <label style="font-size: large">All users</label>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"/>
                                <td th:text="${user.firstName}"/>
                                <td th:text="${user.lastName}"/>
                                <td th:text="${user.age}"/>
                                <td th:text="${user.username}"/>
                                <td>
                                    <ul>
                                        <li th:each="role : ${user.roles}" th:text="${role}"></li>
                                    </ul>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target='#myModal' + ${user.id}">Edit</button>

                                    <div th:each="user : ${users}" th:id="'myModal' + ${user.id}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" th:action="@{/admin/updateUser}" method="post" th:object="${user}">
                                                        <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">

                                                            <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <label class="form-label" style="font-weight: bold;" >ID</label>
                                                            </div>

                                                            <input class="form-control" type="text" th:value="${user.id}" name="id" readonly>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;" >First name</label>
                                                                </div>

                                                                <input type="text" class="form-control" th:value="${user.firstName}" name="firstName">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;" >Last name</label>
                                                                </div>
                                                                <input type="text" class="form-control" th:value="${user.lastName}" name="lastName">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Age</label>
                                                                </div>
                                                                <input type="number" class="form-control" th:value="${user.age}" name="age">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Email</label>
                                                                </div>
                                                                <input type="text" class="form-control" th:value="${user.username}" name="username">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Password</label>
                                                                </div>
                                                                <input type="text" class="form-control" th:value="${user.password}" name="password" readonly style="background-color: #FFFFFF; color: #FFFFFF">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Role</label>
                                                                </div>
                                                                <select class="form-select" size="2" style="width: 201px" name="selectRole">
                                                                    <option value="1">USER</option>
                                                                    <option value="2">ADMIN</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#myDeleteModal' + ${user.id}">Delete</button>

                                    <div th:each="user : ${users}" th:id="'myDeleteModal' + ${user.id}" class="modal fade" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModal">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" th:action="@{/admin/deleteUser(userId=${user.id})}" method="post" th:object="${user}">
                                                        <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">

                                                            <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <label class="form-label" style="font-weight: bold;" >ID</label>
                                                            </div>

                                                            <input class="form-control" type="text" aria-label="Disabled input example" disabled th:value="${user.id}">

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;" >First name</label>
                                                                </div>

                                                                <input type="text" class="form-control" aria-label="Disabled input example" disabled th:value="${user.firstName}">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;" >Last name</label>
                                                                </div>
                                                                <input type="text" class="form-control" aria-label="Disabled input example" disabled th:value="${user.lastName}">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Age</label>
                                                                </div>
                                                                <input type="number" class="form-control" aria-label="Disabled input example" disabled th:value="${user.age}">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Email</label>
                                                                </div>
                                                                <input type="text" class="form-control" aria-label="Disabled input example" disabled th:value="${user.username}">
                                                            </div>

                                                            <div class="mb-3" style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                <div style="max-width: fit-content; margin-left: auto; margin-right: auto">
                                                                    <label class="form-label" style="font-weight: bold;">Role</label>
                                                                </div>
                                                                <select name="selectRole" class="form-select" size="2" style="width: 201px" aria-label="Disabled select example" disabled>
                                                                    <option th:each="role : ${user.roles}" th:text="${role}"></option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>