<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="d-flex p-2">
                        <h5 style="color: #FFFFFF"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></h5>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex p-2">
                        <h5 style="color: #FFFFFF; margin-left: 20px; margin-right: 20px">with roles:</h5>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex p-2">
                        <h5 style="color: #FFFFFF; margin-right: 5px" th:each="role : ${#authentication.getPrincipal().getRoles()}" th:text="${role}"/>
                    </div>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
        </div>
    </div>
</nav>