<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<h2>User Info</h2>
    <form action="#" th:action="@{/admin/saveUser}" method="post" th:object="${user}">

        <input type="hidden" th:field="*{id}"/>

        <label>Username:</label>
        <input type="text" th:field="*{username}" />
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

        <br><br>

        <label>Password:</label>
        <input type="text" th:field="*{password}" />
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br><br>

        <br><br>

        <button type="submit">OK</button>


    </form>

<br><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>

</html>